// Abstracts
@import "abstracts/variables";

// Vendors
@import "vendors/bootstrap";
@import "../node_modules/lightbox2/dist/css/lightbox.min.css";

// Base


// Layout
@import "layout/header";
@import "layout/navigation";
@import "layout/footer";

// Components
@import "components/part-card";
@import "components/driver-card";

// Pages
@import "pages/login";
@import "pages/endurance";
@import "pages/driver";
@import "pages/home";
@import "pages/part";

// Themes
@import "themes/theme";



* { 
    margin: 0;
    padding: 0;
}
header{
    background-image: url(../images/ferrari-f1-75-2022.gif);
    background-size: cover;
    background-position: center;
    h1, p {
        text-shadow: 2px 2px 2px $primary-black;
    }
}

body {
    background-color: $primary-light-grey !important;
} 
h2{
    color: $primary-azure !important;
}
.hero {
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $primary-azure;
    text-align: center;
    font-family: "Pinyon Script", cursive;
}

.container {
    padding: 20px;
}
.recipes, .tips { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card, .col-sm-4 {
    background-color: $white;
    margin: 10px;
    padding: 20px;
    width: 30% !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card img {
    max-width: 100%;
    height: auto;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
