@import "vendors/bootstrap";

body {
    margin: 0;
    padding: 0;
    background-color: #4d443d;
}
header {
    background-color: #a7001a;
    color: white;
    padding: 1px 0;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #040c0f;
    .navbar-brand {
        font-family: "Anton", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: azure;
    }     
    .navbar-brand:hover {
        color: #f8b645;
    }
    .nav-link {
        color: azure;
    }
    .nav-link:hover {
        color: #f8b645;
    }
    .btn-outline-success {
        color: azure;
        border-color: azure 
    }
    .navbar-toggler, .navbar-toggler:focus, .navbar-toggler:active {
        outline: none;
        box-shadow: none;
    }
    .navbar-toggler-icon {
        filter: invert(1);
    }
    ul li a i {
        margin-right: 4px;
        color: #f8b645;
    }

}

nav a {
    color: white;
    margin: 0 4px;
    text-decoration: none;
}
.hero {
    background-image: url('hero-image.jpg'); /* Replace with a hero image */
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}
.hero h1 {
    font-size: 3em;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
}
.container {
    padding: 20px;
}
.recipes, .tips {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card {
    background-color: white;
    margin: 10px;
    padding: 20px;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card img {
    max-width: 100%;
    height: auto;
}
footer {
    background-color: #a7001a;
    color: white;
    text-align: center;
    padding: 20px 0;
}

/* these are there for activity 10 */

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }