body#page-formula1, #category{
    .parts-container{
        background-color: $white;
        padding-top: 5px;
        border-radius: 3px;
        h2 {
            color: $primary-dark-grey !important;
            padding-bottom: 5px;
        }
    }
    .part-row {
        margin-right: 0px !important;
        margin-left: 0px !important;
    }

    .race-calendar-container{
        background-color: $primary-dark-grey;
        border-radius: 3px;
    }
}