body#page-home{
    .home-image{
        width: 100%;
        height: auto;
    }
    .home-text{
        color: $primary-dark-grey;
        background-color: $primary-azure;
        text-align: center;
    }
    .home-image-container {
        position: relative;
        display: inline-block;
    }
    .home-image-container img {
        display: block;
        width: 100%;
        height: auto;
    }
    .overlay-text {
        position: absolute;
        top: 85%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 30px;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.5); /* Optional: Adds a semi-transparent background to the text */
        padding: 10px;
        width: 90%;
    }
}