body#page-login{
    #login-h2, #reg-h2 {
        color: $primary-azure;
        margin-left: 20px;
        text-align: center;
    }
    form {
        label{
            color: $primary-azure;
        }
    }    
    #reg-form {
        background-color: $primary-yellow;
        padding: 10px;
        border-radius: 1px;
        label {
            color: $primary-grey;
        }
        .btn {
            background-color: $primary-grey;
            color: $primary-yellow;
            border: 0;
            margin-top: 10px;
        }
        margin: 20px;
    }
    #login-form {
        .btn {
            background-color: $primary-azure;
            margin-top: 10px;
        }
        margin: 20px;
    }
    .alert {
        margin-top:0;
        color:inherit;
    }
    .alert-danger{
        color:#a94442;
        background-color:#f2dede;
        border-color:#ebccd1;
    }
    .alert-success{
        color:#3c763d;
        background-color:#dff0d8;
        border-color:#d6e9c6
    }
    .alert-dismissible{
        padding-left:10px;
        padding-right:10px;
    }
    .alert-close{
        float: right;
        position: relative;
        text-align: center;
        border: none;
        background-color: inherit;
    }

}