header {
    .page-header-top {
        padding: -200 -200 -200 0;
        
    }
    background-color: $primary-red;
    color: $primary-azure;
    padding: 1px 0;
    text-align: center;
    }
    .user-email{
        padding-right: 100;
        text-align: left;
        color: $white;
    }
    .user-email:hover{
        color: $primary-yellow;
    }
