header {
    background-image: url(../images/ferrari-f1-75-2022.gif);
    background-size: cover;
    background-position: center;
    h1, h4, p {
        text-shadow: 2px 2px 2px $primary-black;
    }
    .page-header-top {   
        text-align: center;
        color: $white;
    }
    .email-search{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }
    .user-email{
        align-items: center;
        color: $white;
        order: 1;
    }
    .user-email:hover{
        color: $primary-yellow;
    }
    .search-form{
        display: flex;
        justify-content: flex-end;
        width: 40%;
        order: 2;
        align-items: center;
    }
    .search-form-box{
        width: 80% !important;
        
    }
    .modal-content{
        color: $primary-dark-grey;
    }
    .tagline {
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $primary-azure;
        text-align: center;
        font-family: "Pinyon Script", cursive;
        font-size: large !important;
        h4 {
            font-size: 30px;
        }
    }
}
