.driver-card {
margin: 0 0 30px 0;
box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.15);
padding: 12px;
text-align: center;
border-radius: 3px;
border-bottom: 3px solid $yellow;
a {
    text-decoration: none;
    h3 {
    font-size: 1.4rem;
    padding-top: 20px;
    margin: 0;
    }
}
}
.driver-card-f1{
    background-color: $white;
    a {
        color: $dark-grey;
    }
}
.driver-card-endurance{
    background-color: $black;
    a {
        color: $azure;
    }
}
.driver-card-image:hover{
    transform: scale(1.05);
}
.driver-card-image {
height: auto;
max-width: 100%;
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
a {
    display: block;
    height: 200px;
}
}

.driver-card-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $dark-grey;
}
