.part-card {
margin: 0 0 30px 0;
background-color: $white;
box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.15);
padding: 12px;
text-align: center;
border: solid 1.5px $primary-dark-grey;
border-radius: 3px;
a {
    color: $primary-dark-grey;
    text-decoration: none;
    h3 {
    font-size: 1.1rem;
    padding-top: 10px;
    margin: 0;
    }
}
}
.part-card-image:hover{
    transform: scale(1.05);
}
.part-card-image {
height: 200px;
width: 90%;
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
a {
    display: block;
    height: 200px;
}
}

.part-card-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $primary-dark-grey;
}

